{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            QR Code Generator
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal"><i class="fa fa-plus"></i> New QR Code</button>
    </div>
    &nbsp;
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- New Template Modal -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="templateModalLabel">New QR Code</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="url">URL:</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="qr_code.url" placeholder="URL text" id="url"
                        autofocus />
                </div>
                <label class="control-label" for="path">Path:</label>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="qr_code.path" placeholder="/home/example/example.png" id="path"
                        autofocus />
                </div>                
                <label class="control-label" for="size">Size: <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Size is both the image width and height in pixels. If size is too small then a larger image is silently written. Negative values for size cause a variable sized image to be written."></i></label>
                <div class="form-group">
                    <input type="number" class="form-control" ng-model="qr_code.size" placeholder="256" id="size" min="1" />
                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" id="cancelButton" onclick="dismiss()">Cancel</button>
                <button type="button" class="btn btn-primary" id="modalSubmit" onclick="generate_code()">Generate QR Code</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/src/vendor/ckeditor/ckeditor.js"></script>
<script src="/js/src/vendor/ckeditor/adapters/jquery.js"></script>
<script src="/js/dist/app/autocomplete.min.js"></script>
<script src="/js/dist/app/qr_code.min.js"></script>
{{end}}
