<VirtualHost *:443>
    ServerAlias evilginx2.template 
    SSLEngine on
    SSLProxyEngine On
    SSLProxyVerify none 
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off
    SSLCertificateFile
    SSLCertificateChainFile
    SSLCertificateKeyFile
    ProxyPreserveHost On
    ProxyPass / https://127.0.0.1:8443/
    ProxyPassReverse / https://127.0.0.1:8443/
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access_evilginx2.log "%h \"%r\" \"%{Referer}i\" \"%{User-Agent}i\""
    Include /etc/apache2/redirect.rules
</VirtualHost>