{
    "pusher_app_id": "",
    "pusher_app_key": "",
    "pusher_app_secret": "",
    "pusher_app_cluster": "",
    "pusher_encrypt_key": "",
    "pusher_channel_name": "",
    "enable_pusher": true
}