Define REDIR_TARGET https://en.wikipedia.org/

RewriteEngine On
RewriteOptions Inherit

# Uncomment the below line for verbose logging, including seeing which rule matched.
# LogLevel alert rewrite:trace5
# ErrorLog /var/log/apache2/custom_error.log
 
RewriteCond %{HTTP_USER_AGENT} ^curl.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^arcticwolf.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^avanan.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^Python-urllib.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^Wget.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^Lynx.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^Slackbot-LinkExpanding.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*cloudfront.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ython.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*YandexBot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*imbostratus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*MJ12bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zgrab.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Go-http.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*[bB]anner.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*gdnplus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*s~virustotalcloud.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*python-requests.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Googlebot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bingbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*duckduckbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Baiduspider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*abot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*dbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ebot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*hbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*kbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*lbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*obot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*rbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*tbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*vbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ybot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bot\..*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bot/.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*_bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*\.bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*/bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*-bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*:bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*\(bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*crawl.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*slurp.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*spider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*seek.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*semrush.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*accoona.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*acoon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*adressendeutschland.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ah-ha\.com.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ahoy.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*altavista.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ananzi.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*anthill.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*appie.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*arachni.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*arachnophilia.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*arale.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*araneo.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*aranha.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*architext.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*aretha.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*arks.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*applebot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*asterias.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*atlocal.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*atn.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*atomz.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*augurfind.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*backrub.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bannana_bot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*baypup.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bdfetch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*big\ brother.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*biglotron.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bjaaland.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*blackwidow.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*blaiz.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*blog.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*blo\..*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bloodhound.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*boitho.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*booch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*bradley.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*broadcom.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*butterfly.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*calif.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*cassandra.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*censys.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ccubee.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*cfetch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*charlotte.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*churl.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*cienciaficcion.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*cmc.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*collective.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*comagent.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*combine.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*computingsite.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*csci.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*curl.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*cusco.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*cisco.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*daumoa.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*deepindex.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*delorie.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*depspid.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*detect.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*deweb.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*die\ blinde\ kuh.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*digger.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ditto.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*dmoz.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*docomo.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*download\ express.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*dtaagent.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*DuoCircle.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*dwcp.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ebiness.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ebingbong.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*e-collector.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ejupiter.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*emacs-w3\ search\ engine.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*esther.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*evliya\ celebi.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Exabot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ezresult.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*facebot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*facebook.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*falcon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*felix\ ide.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ferret.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*fetchrover.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*fido.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*filter.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*findlinks.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*fireball.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*fireeye.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*fish\ search.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*fouineur.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*funnelweb.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*gazz.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*gcreep.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*genieknows.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*getterroboplus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*geturl.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*globalrelay.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*glx.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*goforit.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*golem.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*grabber.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*grapnel.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*gralon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*griffon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*gromit.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*grub.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*gulliver.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*hamahakki.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*harvest.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*havindex.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*helix.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*heritrix.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*hku\ www\ octopus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*homerweb.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*htdig.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*html\ index.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*html_analyzer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*htmlgobble.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*hubater.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*hyper-decontextualizer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ia_archiver.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ibm_planetwide.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ichiro.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*iconsurf.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*iltrovatore.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*image\.kapsi\.net.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*imagelock.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*incywincy.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*indexer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*infobee.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*informant.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ingrid.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*inktomisearch\.com.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*inspector\ web.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*intelliagent.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*internet\ shinchakubin.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ip3000.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*iron33.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*israeli-search.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ivia.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*jack.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*jakarta.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*javabee.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*jetbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*jumpstation.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*katipo.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*kaspersky.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*kdd-explorer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*kilroy.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*knowledge.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*kototoi.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*kretrieve.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*labelgrabber.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*lachesis.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*larbin.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*legs.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*libwww.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*linkalarm.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*link\ validator.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*linkscan.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*lockon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*lwp.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*lycos.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*magpie.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mandiant.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mantraagent.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mapoftheinternet.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*marvin/.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mattie.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mediafox.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mediapartners.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mercator.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*merzscope.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*microsoft\ url\ control.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mime.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*minirank.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*miva.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mj12.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mnogosearch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*moget.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*monster.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*moose.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*motor.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*multitext.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*muncher.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*muscatferret.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*mwd\.search.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*myweb.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*najdi.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nameprotect.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nationaldirectory.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nazilla.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ncsa\ beta.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nec-meshexplorer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nederland\.zoek.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*netcarta\ webmap\ engine.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*netcraft.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*netmechanic.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*netresearchserver.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*netscoop.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*newscan-online.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nhse.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Actimize.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nokia6682/.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nomad.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*noyona.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nutch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*nzexplorer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*objectssearch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*occam.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*omni.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*open\ text.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*openfind.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*openintelligencedata.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*orb\ search.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*osis-project.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pack\ rat.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pageboy.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pagebull.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*page_verifier.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*paloalto.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*panscient.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*parasite.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*partnersite.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*patric.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pear\..*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pegasus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*peregrinator.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pgp\ key\ agent.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*phantom.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*phpdig.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*picosearch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*piltdownman.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pimptrain.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pinpoint.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pioneer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*piranha.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*plumtreewebaccessor.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pogodak.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*poirot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pompos.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*poppelsdorf.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*poppi.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*popular\ iconoclast.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*psycheclone.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*publisher.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*proofpoint.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*python.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*rambler.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*raven\ search.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*roach.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*road\ runner.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*roadhouse.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*robbie.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*robofox.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*robozilla.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*rules.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*salty.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sbider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*scan.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*scooter.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*scoutjet.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*scrubby.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*scrape.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*search\..*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*searchprocess.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*semanticdiscovery.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*senrigan.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sg-scout.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*shai\'hulud.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*shark.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*shopwiki.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*shodan.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sidewinder.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sift.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*silk.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*simmany.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*site\ searcher.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*site\ valet.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sitetech-rover.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*skymob\.com.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sleek.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*smartwit.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sna-.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*snappy.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*snooper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Sogou.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sohu.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sonicwall.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sophos.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*speedfind.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*spam.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sphere.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sphider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*spinner.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*splunk.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*spyder.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*steeler/.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*suke.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*suntek.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*supersnooper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*surfnomore.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sven.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*sygol.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*symantec.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*szukacz.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*tach\ black\ widow.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*tarantula.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*templeton.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*threat.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*/teoma.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*t-h-u-n-d-e-r-s-t-o-n-e.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*theophrastus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*titan.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*titin.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*tkwww.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*toutatis.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*t-rex.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*tutorgig.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*twiceler.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*twisted.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ucsd.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*udmsearch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*url\ check.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*updated.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*vagabondo.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*valkyrie.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*verticrawl.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*victoria.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*virus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*vision-search.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*volcano.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*voyager/.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*voyager-hc.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*w3c_validator.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*w3m2.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*w3mir.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*walker.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wallpaper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wanderer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wapiti.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wauuu.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wavefire.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*web\ core.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*web\ hopper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*web\ wombat.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webbandit.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webcatcher.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webcopy.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webfoot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*weblayers.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*weblinker.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*weblog\ monitor.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webmirror.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webmonkey.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webquest.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webreaper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*websitepulse.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*websnarf.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webstolperer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webvac.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webwalk.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webwatch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webwombat.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*webzinger.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wget.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*whizbang.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*whowhere.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wild\ ferret.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*worldlight.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wwwc.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*wwwster.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*xenu.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*xget.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*xift.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*xirq.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*yandex.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*yanga.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*yeti.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*yodao.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zao/.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zippp.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zoomeye.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zyborg.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*googlebot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*BlackWidow.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Bot\ mailto\:craftbot\@yahoo\\.com.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ChinaClaw.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Custo.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*DISCo.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Download\ Demon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*eCatch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*EirGrabber.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailSiphon.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailWolf.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Express\ WebPictures.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ExtractorPro.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*EyeNetIE.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*FlashGet.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*GetRight.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*GetWeb!.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Go!Zilla.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Go-Ahead-Got-It.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*GrabNet.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Grafula.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*HMView.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*HTTrack.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Image\ Stripper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Image\ Sucker.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Indy\ Library.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*InterGET.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Internet\ Ninja.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*JetCar.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*JOC\ Web\ Spider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*LeechFTP.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Mass\ Downloader.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*MIDown\ tool.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Mister\ PiX.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Navroad.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*NearSite.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*NetAnts.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*NetSpider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Net\ Vampire.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*NetZIP.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Octopus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Offline\ Explorer.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Offline\ Navigator.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*PageGrabber.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Papa\ Foto.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pavuk.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*pcBrowser.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*RealDownload.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*ReGet.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*SiteSnagger.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*SmartDownload.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperBot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperHTTP.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Surfbot.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*tAkeOut.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Teleport\ Pro.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*trendmicro.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*trustwave.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*VoidEYE.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Web\ Image\ Collector.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Web\ Sucker.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebAuto.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebCopier.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebFetch.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebGo\ IS.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebLeacher.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebReaper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebSauger.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Website\ eXtractor.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Website\ Quester.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebStripper.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebWhacker.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WebZIP.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Wget.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Widow.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*WWWOFFLE.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Xaldon\ WebSpider.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Zeus.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*httpx.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*l9tcpid.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*zscaler.*$ [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Preview.*$ [NC]

# Add RewriteRule for performance
RewriteRule ^.*$ ${REDIR_TARGET} [L,R=302]

RewriteCond %{REMOTE_HOST} ^.*google\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*paypal\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*112\.2o7\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*firefox\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*apple\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*clean-mx\.de$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*phishmongers\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*phishtank\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*\.google\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*dnblead\.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*static\.spro\.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*sucuri\.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*rima-tde\.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*tfbnw\.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*pacbell\.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*tpnet\.pl$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*ovh\.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*above.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*google.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*softlayer.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*amazonaws.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*cyveillance.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*phishtank.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*dreamhost.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*netpilot.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*calyxinstitute.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*tor-exit.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*tor-node.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*msnbot.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*p3pwgdsn.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*netcraft.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*trendmicro.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*ebay.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*paypal.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*torservers.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*comodo.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*crawl.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*crawler.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*proxy.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*cloudflare.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*yahoo.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*trustwave.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*centralnic.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*badware.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*phishing.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*antivirus.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*SiteAdvisor.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*McAfee.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*Bitdefender.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*avirasoft.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*googleusercontent.*$ [OR,NC]

# Exchange Online
RewriteCond %{REMOTE_HOST} ^outlook.office.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^outlook.office365.com$ [OR,NC]
# Exchange Online
RewriteCond %{REMOTE_HOST} ^smtp.office365.com$ [OR,NC]
# Exchange Online
RewriteCond %{REMOTE_HOST} ^.*.outlook.office.com$ [OR,NC]
# Exchange Online
# Exchange Online
RewriteCond %{REMOTE_HOST} ^.*.outlook.com$ [OR,NC]
# Exchange Online
RewriteCond %{REMOTE_HOST} ^.*.protection.outlook.com$ [OR,NC]
# Exchange Online
RewriteCond %{REMOTE_HOST} ^.*.mail.protection.outlook.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.lync.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.teams.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^teams.microsoft.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.broadcast.skype.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^broadcast.skype.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.sfbassets.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.keydelivery.mediaservices.windows.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.streaming.mediaservices.windows.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^mlccdn.blob.core.windows.net$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^aka.ms$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.users.storage.live.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.adl.windows.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.skypeforbusiness.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.msedge.net$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.mstea.ms$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.secure.skypeassets.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^mlccdnprod.azureedge.net$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^.*.sharepoint.com$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^ssw.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^storage.live.com$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^.*.search.production.apac.trafficmanager.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.search.production.emea.trafficmanager.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.search.production.us.trafficmanager.net$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^.*.wns.windows.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^admin.onedrive.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^officeclient.microsoft.com$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^g.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^oneclient.sfx.ms$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^.*.sharepointonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^spoprod-a.akamaihd.net$ [OR,NC]
# SharePoint Online and OneDrive for Business
RewriteCond %{REMOTE_HOST} ^.*.svc.ms$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.microsoftstream.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^nps.onyx.azure.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.azureedge.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.media.azure.net$ [OR,NC]
# Microsoft 365 Common and Office Online
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.officeapps.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.online.office.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^office.live.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.office.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.onenote.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*cdn.onenote.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^ajax.aspnetcdn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^apis.live.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^officeapps.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^www.onedrive.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.auth.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msftidentity.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msidentity.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^account.activedirectory.windowsazure.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^accounts.accesscontrol.windows.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^adminwebservice.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^api.passwordreset.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^autologon.microsoftazuread-sso.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^becws.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ccs.login.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^clientconfig.microsoftonline-p.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^companymanager.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^device.login.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^graph.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^graph.windows.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^login.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^login.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^login.microsoftonline-p.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^login.windows.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^logincert.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^loginex.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^login-us.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^nexus.microsoftonline-p.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^passwordreset.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^provisioningapi.microsoftonline.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.hip.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.microsoftonline.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.microsoftonline-p.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msauth.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msauthimages.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msecnd.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msftauth.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.msftauthimages.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.phonefactor.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^enterpriseregistration.windows.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^management.azure.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^policykeyservice.dc.ad.msft.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.compliance.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.protection.office.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.security.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^compliance.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^defender.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^protection.office.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^security.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^account.office.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.portal.cloudappsecurity.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.blob.core.windows.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^firstpartyapps.oaspapps.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^prod.firstpartyapps.oaspapps.com.akadns.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^telemetryservice.firstpartyapps.oaspapps.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^wus-firstpartyapps.oaspapps.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.aria.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.events.data.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.o365weve.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^amp.azure.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^appsforoffice.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^assets.onestore.ms$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^auth.gfx.ms$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^c1.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^dgps.support.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^docs.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^msdn.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^platform.linkedin.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^prod.msocdn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^shellprod.msocdn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^support.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^technet.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.office365.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.cloudapp.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.aadrm.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.azurerms.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.informationprotection.azure.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ecn.dev.virtualearth.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^informationprotection.hosting.portal.azure.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^dc.services.visualstudio.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^mem.gfx.ms$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^staffhub.ms$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.msocdn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.onmicrosoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^o15.officeredir.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^officepreviewredir.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^officeredir.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^r.office.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^activation.sls.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^crl.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^office15client.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^go.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^cdn.odc.officeapps.live.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^officecdn.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^officecdn.microsoft.com.edgesuite.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.virtualearth.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^c.bing.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^excelbingmap.firstpartyapps.oaspapps.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ocos-office365-s2s.msedge.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^peoplegraph.firstpartyapps.oaspapps.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^tse1.mm.bing.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^wikipedia.firstpartyapps.oaspapps.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^www.bing.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.acompli.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.outlookmobile.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^login.windows-ppe.net$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^account.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^login.live.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^www.acompli.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.appex.bing.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.appex-rf.msn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^c.bing.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^c.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^d.docs.live.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^directory.services.live.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^docs.live.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^partnerservices.getmicrosoftkey.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^signup.live.com$ [OR,NC]
# Microsoft 365 Common and Office Online
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.yammer.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.yammerusercontent.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.assets-yammer.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^www.outlook.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^eus-www.sway-cdn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^eus-www.sway-extensions.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^wus-www.sway-cdn.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^wus-www.sway-extensions.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^sway.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^www.sway.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.entrust.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.geotrust.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.omniroot.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.public-trust.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.symcb.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.symcd.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.verisign.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.verisign.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^apps.identrust.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^cacerts.digicert.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^cert.int-x3.letsencrypt.org$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^crl.globalsign.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^crl.globalsign.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^crl.identrust.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^crl3.digicert.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^crl4.digicert.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^isrg.trustid.ocsp.identrust.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^mscrl.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ocsp.digicert.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ocsp.globalsign.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ocsp.msocsp.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ocsp2.globalsign.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^ocspx.digicert.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^secure.globalsign.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^www.digicert.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^www.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^officespeech.platform.bing.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^.*.skype.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.manage.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.office.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^cdnprod.myanalytics.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^myanalytics.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^myanalytics-gcc.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.microsoftusercontent.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.azure-apim.net$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.flow.microsoft.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*.powerapps.com$ [OR,NC]
# Exchange Online
RewriteCond %{REMOTE_HOST} ^autodiscover.*.onmicrosoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.activity.windows.com$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^activity.windows.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^ocsp.int-x3.letsencrypt.org$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^.*.cortana.ai$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^admin.microsoft.com$ [OR,NC]
# Microsoft 365 Common and Office Online
RewriteCond %{REMOTE_HOST} ^cdn.uci.officeapps.live.com$ [OR,NC]
# Skype for Business Online and Microsoft Teams
RewriteCond %{REMOTE_HOST} ^compass-ssl.microsoft.com$ [NC]

# Add RewriteRule for performance
RewriteRule ^.*$ ${REDIR_TARGET} [L,R=302]

# Aggressive remote host checking
RewriteCond %{REMOTE_HOST} ^.*avanan.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*proofpoint.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*paloalto.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*splunk.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*cisco.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*DuoCircle.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*barracuda.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*fireeye.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*fortinet.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*globalrelay.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*cast.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*titan.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*security.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*sophos.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*mime.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*spam.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*sonicwall.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*mail.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*mandiant.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*NICEActimize.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*arcticwolf.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*broadcom.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*symantec.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*protect.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*filter.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*xeams.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*zoho.*$ [OR,NC]
RewriteCond %{REMOTE_HOST} ^.*zscaler.*$ [NC]

# Add RewriteRule for performance
RewriteRule ^.*$ ${REDIR_TARGET} [L,R=302]